{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-QWTKZyjpPEjISv5WaRU9OFeRpok6YctnYmDr5pNlyT2bRjXh0JMhjY6hW+ALEwIH" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <link rel="stylesheet" href="{% static 'css/cdash.css' %}">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css">
    <style>
        body {
            background-image: url("{% static 'image/bg6.jpg' %}");
        }

        

    </style>
    <script src="https://code.jquery.com/jquery-3.7.1.min.js" integrity="sha256-/JqT3SQfawRcv/BIHPThkBvs0OEvtFFmqPF/lYI/Cxo=" crossorigin="anonymous"></script>
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-lg bg-transparent">
            <div class="container-fluid c1">
                <a class="navbar-brand" href="#">
                    <img src="{% static 'image/logo.png' %}" alt="Logo" height="50">
                    NOSHY
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse justify-content-center" id="navbarNav">
                    <ul class="navbar-nav">
                        <li class="nav-item active">
                            <a class="nav-link" href="{% url 'authentication:index' %}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'authentication:about' %}">About</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'authentication:services' %}">Services</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{% url 'authentication:contact' %}">Contact</a>
                        </li>
                    </ul>
                </div>
                <div class="ml-auto">
                    <a class="btn btn-danger" href="{% url 'customer:logout' %}">Log Out</a>
                </div>
            </div>
        </nav><br><br>

        
        

    </header>
    <div class="container-fluid c2">
        

        <main>
            <h1 class="mt-4 mb-4 text-center">Ordered Items</h1><br>

            <div class="container c5">
                <table class="table table-dark table-hover">
                    <thead class="thead-dark">
                      <tr>
                        <th scope="col">Customer Name</th>
                        <th scope="col">Customer Address</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Image</th>
                        <th scope="col">Price</th>
                        <th scope="col">quantity</th>
                        <th></th>
                        <th></th>
                      </tr>
                    </thead>
                    <tbody>
                    {% for order in orders %}
                      <tr>
                        <td>{{order.customer}}</td>
                        <td>{{order.customer.address}}</td>
                        <td>{{order.product}}</td>
                        <td><img src="{{order.product.image.url}}" alt="" width="50px"></td>
                        <td>{{order.product.price}}</td>
                        <td>{{order.quantity}}</td>
                        <th><a class="btn btn-light" href="{% url 'seller:cancel_order' order.id %}">Cancel Order</a></th>
                        <th><a class="btn btn-danger" href="{% url 'seller:complete_order' order.id %}">Order Completed</a></th>
                        
                      </tr>
                    {% endfor %}
                     
                      
                    </tbody>
                </table>
            </div>
            
        </main><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br><br>

        
        
    </div>
    <footer class="bg-dark text-white py-3">
        <div class="container text-center">
            <p>&copy; 2024 Food Delivery App</p>
        </div>
    </footer>
    
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>
</body>
</html>