.bg-image {
    background-image: url('table.jpg');
    background-size: cover;
    background-position: center;
    height: 100vh;
    position: relative;
    color: #fff;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
}

.navbar {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000; /* Ensure navbar appears above background image */
}

.navbar-brand {
    font-weight: bold;
    color: white;
}

.navbar-nav .nav-link {
    color:white;
}

/* Adjustments for small screens */
@media (max-width: 767.98px) {
    .bg-image {
        height: 60vh;
    }
}

section {
    margin: 0; /* Reset default margins */
    padding: 0; /* Reset default padding */
}
