
body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-image: url('{% static "image/bg16.jpg" %}'); /* Replace with your image path */
    background-size: cover;
    background-position: center;
    color: white;
    background-attachment: fixed;
}

.c1{
    width: 100%;
    margin: 0 auto;
}

.c2{
    width: 100%;
    margin: 0 auto;
}

.c3 {
    width: 100%;
    margin: 0 auto;
}

/* header {
    background-color: rgba(255, 255, 255, 0.7); /* Transparent white background */
    /* padding: 10px 0;
    border-radius: 10px;
    backdrop-filter: blur(10px); Adds a blur effect to the background
} */

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo img {
    height: 50px; /* Adjust based on your logo size */
}

.navbar-brand {
    font-size: 1.5rem;
    font-weight: bold;
    color: white;
}

.navbar-nav .nav-link {
    color:white;
}

.nav-links li {
    margin-right: 20px;
}

.nav-links a {
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.nav-links a:hover {
    color: white;
}

.search-bar {
    display: flex;
    align-items: center;
    margin-left: auto;
}

.search-bar input[type="text"] {
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    margin-right: 5px;
}

.search-bar button {
    padding: 8px 15px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

.search-bar button:hover {
    background-color: #45a049;
}

